/* cтили для карусели  */
.slider-container {
  position: relative;
  margin: 10px auto;
}
#frame {
  overflow: hidden;
  height: 360px;
}

.slider {
  position: relative;

  display: inline-flex;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slide {
  display: inline-block;
  margin: 10px;
}
.slider-arrow-left {
  position: absolute;
  top: 50%;
  left: -20px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.slider-arrow-right {
  position: absolute;
  top: 50%;
  right: -20px;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.svg-arrow:hover {
  opacity: 0.6;
  cursor: pointer;
}
/* cтили для карусели  */
.img-carousel {
  height: 100%;
  width: auto;
  display: block;
}

.carousel-link {
  display: block;
  height: 100%;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carousel-link:hover {
  transform: scale(1.1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.slider-photo {
  height: 300px;
}

.release-date {
  font-family: Roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  height: 50px;
  color: white;
  font-size: 17px;
  margin-bottom: 0px;

  background-color: rgb(255 158 24);
  border-radius: 10px;
}

.carousel-title {
  font-family: Roboto;
  text-align: center;
  margin: 0px;
  padding-top: 20px;
  /* padding-bottom: 10px; */
  font-size: 30px;
  line-height: 1.5;
  font-weight: 700;
}

.carousel {
  display: none;
}

@media screen and (min-width: 768px) {
  .carousel {
    display: block;
  }

  .slider-container {
    width: 700px;
  }
}

@media screen and (min-width: 1024px) {
  .slider-container {
    width: 1000px;
  }
}

@media screen and (min-width: 1200px) {
  .slider-container {
    width: 1150px;
  }
}

@media screen and (min-width: 1400px) {
  .slider-container {
    width: 1380px;
  }
}
